<div class="w3-container w3-dark-grey w3-padding-16 w3-card-4">
    <h1 class="ar-m-0"><i class="fa-solid fa-bullhorn"></i> Pengumuman</h1>
    <% if @notices.present? %>
      <% @notices.each do |notice| %>
        <ul class="w3-ul">
            <li><%= link_to notice.title, notice_path(notice) %></li>
        </ul>
      <% end %>
    <% else %>
      <p>No notices found.</p>
    <% end %>
</div>

<% if current_user %>
    <p>Hello <%= current_user.email %> </p>
    <p>Terakhir login pada <%= current_user.last_sign_in_at.strftime('%d %B %Y %H:%M:%S') %> </p>
    <p>You are a [<%= current_user.role %>]</p>
    <% if current_user.admin? %>
       <p>There are <%= User.count %> users in the system</p>
    <% end %>
    <%= link_to 'Sing Out', destroy_user_session_path, 'data-turbo-method': :delete %>        
<% end %>