<p style="color: green"><%= notice %></p>

<%= render @notice %>

<div>
  <%= link_to "Edit this notice", edit_notice_path(@notice) %> |
  <%= link_to "Back to notices", notices_path %>

  <%= button_to "Destroy this notice", @notice, method: :delete %>
</div>

<div class="w3-container">
  <%= render 'comments/form', notice: @notice %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', notice: @notice, comment: comment %>
  <% end %>
</div>