<%= turbo_frame_tag "new_pelabuhan" do %>
  <%= form_with(model: pelabuhan) do |form| %>
    <% if pelabuhan.errors.any? %>
      <div class="w3-panel w3-red w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
        <h2><%= pluralize(pelabuhan.errors.count, "error") %> prohibited this pelabuhan from being saved:</h2>

        <ul class="w3-ul w3-border-top w3-border-bottom w3-section">
          <% pelabuhan.errors.each do |error| %>
            <li><i class="fa fa-circle-o" aria-hidden="true"></i> <%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :daerah, style: "display: block" %>
      <%= form.text_field :daerah, class: 'w3-input' %>
    </div>

    <div>
      <%= form.label :nama_pelabuhan, style: "display: block" %>
      <%= form.text_field :nama_pelabuhan, class: 'w3-input' %>
    </div>

    <div class="w3-section">
      <%= form.submit "Submit", class: 'w3-button w3-blue'%>
    </div>
  <% end %>
<% end %>