<%= form_with(model: pelabuhan) do |form| %>
  <div>
    <%= form.label :daerah, style: "display: block" %>
    <%= form.text_field :daerah %>
  </div>

  <div>
    <%= form.label :nama_pelabuhan, style: "display: block" %>
    <%= form.text_field :nama_pelabuhan %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= turbo_frame_tag "new_pelabuhan" do %>
<% end %>