<div class="login-page">
  <div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle">
    <h2 style="text-shadow:1px 1px 0 #444">Log in</h2>
    <%= render 'layouts/msg' %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w3-input w3-round-xxlarge', placeholder: 'Email' %>
  </div>

  <div class="field">    
    <%= f.password_field :password, autocomplete: "current-password", class: 'w3-input w3-round-xxlarge', placeholder: 'Password' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: 'w3-radio' %>
      <%= f.label :remember_me, style: 'text-shadow:1px 1px 0 #444;' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'w3-button w3-block w3-light-grey' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>  
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge" id="current-time" style="text-shadow:1px 1px 0 #444"><%= Time.current.strftime('%d %B %Y %H:%M:%S') %></p>
    <p class="w3-large">SAN</p>    
  </div>
</div>
</div>