<p style="color: green"><%= notice %></p>

<%= render @pengumuman %>

<div>
  <%= link_to "Edit this pengumuman", edit_pengumuman_path(@pengumuman) %> |
  <%= link_to "Back to pengumumen", pengumumen_path %>

  <%= button_to "Destroy this pengumuman", @pengumuman, method: :delete %>
</div>
