<!-- Top container -->
<div class="w3-bar w3-top w3-blue w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_rail();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>
<!-- Sidebar/menu -->
<% if current_user %>
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:250px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">    
    <% if current_user.image.present? %>
    <%= image_tag(current_user.image, alt: "avatar", class: "w3-circle w3-margin-right", style: "width:46px") %>
    <% else %>
      <img src="https://www.w3schools.com/w3images/avatar3.png" alt="avatar" class="w3-circle w3-margin-right" style="width:46px">
    <% end %>      
    </div>
    <div class="w3-col s8 w3-bar">
      <span><strong><%= current_user.name %> [<%= current_user.role %>]</strong></span><br>      
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <%= link_to edit_user_registration_path, class: "w3-bar-item w3-button" do %>
        <i class="fa fa-cog"></i>
      <% end %>
    </div>
    <%= render 'layouts/notifications' %>
  </div>
  <hr>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <%= link_to root_path, class: 'w3-bar-item w3-button w3-padding' do %>
      <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
    <% end %>
    <% if current_user.admin? %>
    
      <%= link_to notices_path, class: 'w3-bar-item w3-button w3-padding' do %>
        <i class="fa-solid fa-bullhorn"></i> Pengumuman
      <% end %>    
      <%= link_to pelabuhans_path, class: 'w3-bar-item w3-button w3-padding' do %>
        <i class="fa-solid fa-anchor"></i> Pelabuhan
      <% end %>  
      <%= link_to master_kapals_path, class: 'w3-bar-item w3-button w3-padding' do %>
        <i class="fa fa-ship" aria-hidden="true"></i> Master Kapal
      <% end %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: 'w3-bar-item w3-button w3-padding', 'data-turbo-method': :delete do %>
          <i class="fa fa-sign-out" aria-hidden="true"></i>  Sing Out
    <% end %><br>
  </div>
</nav>
<% end %>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>