<!DOCTYPE html>
<html>
  <head>
    <title>RbSan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track": "reload" %>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://kit.fontawesome.com/543620e0a3.js" crossorigin="anonymous"></script>    
    <%= javascript_importmap_tags %>    
  </head>

  <body class="w3-light-grey">    
    <%= render 'layouts/sidebar' %>                   
    <main class="w3-main" style="margin-left:250px;margin-top:43px;">    
    <%= render 'layouts/msg' %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </main>    
  </body>
</html>
